<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

  
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   
    <div class="topbar">
         
        <div class="wrapper target">

            <div class="left">
                
                <i class="fa-brands fa-square-x-twitter"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-pinterest"></i>
            </div>
            <div class="center">
                <a asp-controller="Home" asp-action="Index">HOME</a>
                <a asp-controller="Home" asp-action="About">ABOUT</a>

                @if (Context.Session.GetString("role") == "Admin")
                {
                    <a asp-controller="Blog" asp-action="Add">ADD</a>
                }

                @if (Context.Session.GetString("username") != null)
                {
                    <a asp-controller="Auth" asp-action="Logout">LOGOUT</a>
                }
                else
                {
                    <a asp-controller="Auth" asp-action="Register">REGISTER</a>
                    <a asp-controller="Auth" asp-action="Login">LOGIN</a>
                }
            </div>
            @{
                var username = Context.Session.GetString("username");
                var profileImagePath = Context.Session.GetString("profileImagePath") ?? "/img/user/user-1.png";
            }
            <div class="right">
<<<<<<< Updated upstream
                
                
                <div class="searchEngine" id="searchEngine">
                    <input type="text" placeholder="...">
                    <i class="fa-solid fa-magnifying-glass" id="searchIcon"></i>
                </div>
                @if (Context.Session.GetString("username") != null)
                {
                    <span class="user-image">
                        <img src="@profileImagePath" alt="user" />
                    </span>
                    <a asp-controller="User" asp-action="Settings" title="Ayarlar" class="settings-link">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                }
=======
               

                <form asp-controller="Home" asp-action="Search" method="get" id="searchForm" style="display: inline;">
                    <input type="text" name="query" placeholder="Blog ara..." id="searchInput"
                           style="display: none; padding: 5px;" />
                </form>

                <i class="fa-solid fa-magnifying-glass" id="searchIcon" style="cursor: pointer;"></i>

               @if (Context.Session.GetString("username") != null)
{
    <a asp-controller="Profile" asp-action="Index" title="Profil">
        <img src="@profileImagePath" alt="Profil" style="cursor:pointer; width: 35px; height: 35px; border-radius: 50%;" />
    </a>

    <a asp-controller="User" asp-action="Settings" title="Ayarlar" class="settings-link" style="margin-left: 10px;">
        <i class="fa-solid fa-gear"></i>
    </a>
}
>>>>>>> Stashed changes
            </div>
        </div>
    </div>

   
    <div class="menu-button" title="Kategoriler" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
    </div>

    
        <div class="category-menu" id="categoryMenu">
            <h3>Kategoriler</h3>
            <ul>
                @if (ViewBag.Categories != null)
                {
                    foreach (var category in ViewBag.Categories as List<MyBlogSite.Models.Category>)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home", new { categoryId = category.Id })">
                                @category.Name
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    



    
    @RenderBody()

   
    <script src="~/js/search.js"></script>
    <script src="~/js/scroll.js"></script>
    <script src="~/js/menu.js"></script>
   
    <script src="~/js/toggleLike.js"></script>
   

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
